.card{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .Campo-Imagem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.card .tituloCard{
    
}