

header {
    width: 100%;
    height: auto;
    background-color: var(--fundo-header);
    margin-bottom: 50px;
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px ;
}

header .logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .logo img {
    width: 120px;
    height: auto;
    object-fit: cover;
}

header .links {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .links nav,
header .links nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    align-items: center;

}

header .links nav ul li a {
    color: var(--texto-header-links);
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;

    font-size: 20px;
    display: inline-block;
    line-height: 100px;
}

header .links nav ul li a:hover {
    color: var(--fundo-button);
}



.menuContainer {
    display: none;
    justify-content: end;
    align-items: center;
    width: 180px;
    height: var(--headerHeight);
    
}

header details{
    position: relative;
}
header summary{
    padding: 10px;
    list-style: none;
}
header summary:active{
    background-color: aliceblue;
}
header .conteudo{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    top: 120%;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    z-index: 10;
}


@media(max-width:400px){

    .menuContainer{
        display: block;
    }


    header .links {
        display: none;
    }
    details .conteudo{
        width: 100vw;
        right: -20px;
        box-sizing: border-box;
        border-radius: 0;
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
@media(max-width:1024px){
    .menuContainer{
        display: block;
    }
    header .links {
        display: none;
    }
}
